<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Covid-19 Australia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Statistics</a>
      </li> -->
      <!-- <li class="nav-item active">
        <a class="nav-link" href="https://www.healthdirect.gov.au/coronavirus-covid-19-seeing-a-doctor-getting-tested-faqs#where" target="_blank">Testing Locations</a>
      </li> -->
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuTestLoc" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Testing Locations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuTestLoc">
          <a class="dropdown-item" href="https://www.covid19.act.gov.au/protecting-yourself-and-others/getting-tested#Respiratory-Assessment-Clinics-in-the-ACT-are-located-at-" target="_blank">Australian Capital Territory</a>
          <a class="dropdown-item" href="https://www.qld.gov.au/health/conditions/health-alerts/coronavirus-covid-19/take-action/testing-and-fever-clinics" target="_blank">Queensland</a>
          <a class="dropdown-item" href="https://coronavirus.nt.gov.au/stay-safe/testing" target="_blank">Northern Territory</a>
          <a class="dropdown-item" href="https://www.nsw.gov.au/covid-19/how-to-protect-yourself-and-others/clinics" target="_blank">New South Wales</a>
          <a class="dropdown-item" href="https://www.sahealth.sa.gov.au/wps/wcm/connect/public+content/sa+health+internet/conditions/infectious+diseases/covid+2019/covid-19+response/covid-19+clinics+and+testing+centres" target="_blank">South Australia</a>
          <a class="dropdown-item" href="https://www.coronavirus.tas.gov.au/keeping-yourself-safe/testing-for-covid19" target="_blank">Tasmania</a>
          <a class="dropdown-item" href="https://www.dhhs.vic.gov.au/getting-tested-coronavirus-covid-19" target="_blank">Victoria</a>
          <a class="dropdown-item" href="https://healthywa.wa.gov.au/Articles/A_E/COVID-clinics" target="_blank">Western Australia</a>
        </div>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Further Information
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">Covid-19 Summary</a>
          <a class="dropdown-item" href="https://www.who.int/health-topics/coronavirus#tab=tab_3" target="_blank">Symptoms</a>
          <a class="dropdown-item" href="https://www.who.int/health-topics/coronavirus#tab=tab_2" target="_blank">How do I protect myself?</a>
          <a class="dropdown-item" href="https://www.health.gov.au/news/health-alerts/novel-coronavirus-2019-ncov-health-alert" target="_blank">Government Information</a>
          <a class="dropdown-item" href="https://www.dhhs.vic.gov.au/getting-tested" target="_blank">Getting Tested</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
