<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3 col-sm-6">
          <div class="card-box bg-orange">
              <div class="inner">
                  <h3> 122 </h3>
                  <p> Cases Today </p>
              </div>
              <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
      </div>

      <div class="col-lg-3 col-sm-6">
          <div class="card-box bg-orange">
              <div class="inner">
                  <h3> 12 </h3>
                  <p> Deaths Today </p>
              </div>
              <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6">
          <div class="card-box bg-red">
              <div class="inner">
                  <h3> 6452 </h3>
                  <p> Total Cases </p>
              </div>
              <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6">
          <div class="card-box bg-red">
              <div class="inner">
                  <h3> 652 </h3>
                  <p> Total Deaths </p>
              </div>
              <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
      </div>
  </div>
</div>